body {
    position: relative;
    /* width: 100%; */
    /* min-height: 100%; */
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    background: rgb(255, 255, 255);
}

a {
    text-decoration: none;
    color: inherit;
}

#logo {
    height: 40px;
}

.img_contenido {
    width: 150px;
    height: 100px;
}

#cabecera {
    display: flex;
    padding: 10px;
    background-color: rgb(152, 209, 146);
}

#div_navegador {
    margin-left: 1em;
    padding-top: 0.5em;
}

#div_navegador a:hover {
    color: rgb(116, 116, 116);
}

#div_navegador a {
    padding: 0.5em;
}

main {
    padding: 1rem;
    width: 50%;
    margin: auto;
    background: rgb(241, 241, 241);
    margin-bottom: 1rem;
    margin-top: 1rem;
}


#main_container {
    height: 100vh;
    /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    /* height of your footer */
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
    color: black;
}

.error {
    color: red;
}

#panel {
    display: flex;
}

.divs_panel {
    border: solid;
    width: 33.3%;
    margin: 1em;
}

.btn_sig_conf {
    border: solid;
    width: 50%;
    margin-left: 25%;
    text-align: center;
    padding: 1em;
}

.encendido {
    background: rgb(157, 164, 165);
    padding: 1em;
    text-align: center;
}

.apagado {
    background: inherit;
    padding: 1em;
    text-align: center;
}
.confirm{
    background: green;
}